# Entornos virtuales
venv/
.env/
.venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Archivos de entorno
.env
venv/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter (por si usas notebooks)
.ipynb_checkpoints/

# Archivos de compilación
build/
dist/
*.egg-info/
